<!-- Begin Charting Section -->
<section>
    <!-- Row for Tags chart -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tags</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="tagsChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Row for Mood Trends chart -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Mood Trends</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="moodChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Row for Mood Trends chart -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Mood Trend by Month</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div style="position: relative;">
                    <canvas id="moodTrendChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Row for Notes by Year chart -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Notes by Year</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="yearChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Row for Notes by Month chart -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Notes by Month</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="monthChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Row for Notes by Week chart -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Notes by Week</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="weekChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Charting Section -->