<!-- Begin Metrics Cards -->
<div class="row">
    <div class="col-12">
        <div class="row" id="counts-metrics">
            <div class="info-box bg-primary col-md-3">
                <span class="info-box-icon"><i class="fas fa-file-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Notes</span>
                    <span class="info-box-number">{{counts.note_count}}</span>
                </div>
            </div>

            <div class="info-box bg-navy col-md-3">
                <span class="info-box-icon"><i class="fas fa-file-word"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Words</span>
                    <span class="info-box-number">{{counts.note_counts.word_count}}</span>
                </div>
            </div>

            <div class="info-box bg-olive col-md-3">
                <span class="info-box-icon"><i class="fas fa-file-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Characters</span>
                    <span class="info-box-number">{{counts.note_counts.char_count}}</span>
                </div>
            </div>
            <div class="info-box bg-indigo col-md-3">
                <span class="info-box-icon"><i class="fa-solid fa-user-tag"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Tags</span>
                    <span class="info-box-number">{{counts.tag_count}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row" id="mood-metrics">
            <div class="info-box bg-success">
                <span class="info-box-icon"><i class="far fa-smile"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Positive Mood Count</span>
                    <span class="info-box-number">{{counts.mood_counts.positive}}</span>
                </div>
            </div>

            <div class="info-box bg-warning">
                <span class="info-box-icon"><i class="far fa-meh"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Neutral Mood Count</span>
                    <span class="info-box-number">{{counts.mood_counts.neutral}}</span>
                </div>
            </div>

            <div class="info-box bg-danger">
                <span class="info-box-icon"><i class="far fa-frown"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Negative Mood Count</span>
                    <span class="info-box-number">{{counts.mood_counts.negative}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Metrics Cards -->