<!-- Begin Metrics Cards -->
<div class="row">
    <div class="col-12">
        <div class="row" id="counts-metrics">
            <div class="info-box bg-primary col-md-3">
                <span class="info-box-icon"><i class="fas fa-file-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Notes</span>
                    <span class="info-box-number">{{ '{:,}'.format(note_metrics.note_count) if note_metrics.note_count else 0 }}</span>
                </div>
            </div>
            <div class="info-box bg-info col-md-3">
                <span class="info-box-icon"><i class="fas fa-font"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Words</span>
                    <span class="info-box-number">{{ '{:,}'.format(note_metrics.word_count) if note_metrics.word_count else 0 }}</span>
                </div>
            </div>
            <div class="info-box bg-success col-md-3">
                <span class="info-box-icon"><i class="fas fa-keyboard"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Characters</span>
                    <span class="info-box-number">{{ '{:,}'.format(note_metrics.character_count) if note_metrics.character_count else 0 }}</span>
                </div>
            </div>
            <div class="info-box bg-secondary col-md-3">
                <span class="info-box-icon"><i class="fas fa-robot"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">AI Fix</span>
                    <span class="info-box-number">{{ '{:,}'.format(note_metrics.ai_fix_count if note_metrics.ai_fix_count else 0)}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Metrics Cards -->