<li class="nav-item has-treeview {% if page == 'notes' %}menu-open{% else %}menu-closed{% endif %}">
    <a href="#" class="nav-link" title="Notes">
        <i class="nav-icon fa-solid fa-book-open-reader"></i>
        <p>Notes</p>
        <i class="right fas fa-angle-left"></i>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/notes" class="nav-link" title="Dashboard">
                <i class="fa-solid fa-gauge-high">&nbsp;</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/notes/new" class="nav-link" title="New Note">
                <i class="fa-solid fa-plus">&nbsp;</i>
                <p>New Note</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/notes/#custom-tabs-four-aifix-tab" class="nav-link" title="List Notes">
                <i class="fa-solid fa-hammer">&nbsp;</i>
                <p>Fix AI Issues</p>
            </a>
        </li>
        <!-- <li class="nav-item">
                <a href="/notes/search" class="nav-link" title="Search">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Search Notes</p>
                </a>
            </li> -->
    </ul>
</li>