{% extends "base.html" %}
{% block page_title %}| Pypi Check{% endblock %}
{% block page_stylesheet %}
<!-- page stylesheets-->
<style>
  #requirements {
    width: 100%;
    /* or any other value that suits your needs */
  }
</style>
{% endblock %}
{% block page_breadcrumb %} Pypi Check{% endblock %}
{% block page_head_title %}Pypi Check{% endblock %}
{% block body %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">New Note</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="row">
            <div class="col-12">
              <form action="/notes/new" method="post" enctype="multipart/form-data" hx-indicator=".htmx-indicator">
                <div class="input-group mb-5">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="mood" id="positive" value="positive">
                    <label class="form-check-label" for="positive">Positive</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="mood" id="neutral" value="neutral" checked>
                    <label class="form-check-label" for="neutral">Neutral</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="mood" id="negative" value="negative">
                    <label class="form-check-label" for="negative">Negative</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="demoNoteCheck">
                    <label class="form-check-label" for="demoNoteCheck">Demo Text</label>
                  </div>
                </div>
                <div class="input-group mb-5">
                  <textarea id="note" name="note" placeholder="Enter a new note" rows="20"
                    style="width: 100%; height: 100%;" maxlength="20000" required></textarea>
                  <small id="notesHelp" class="form-text text-muted">Note: This textarea is limited to 20,000
                    characters.</small>
                  <small id="charCount" class="form-text text-muted">Character count: 0</small>
                  <script>
                    var textarea = document.getElementById('note');
                    var demoNoteCheck = document.getElementById('demoNoteCheck');

                    demoNoteCheck.addEventListener('change', function (e) {
                      if (e.target.checked) {
                        textarea.value = "{{demo_note}}";
                      } else {
                        textarea.value = "";
                      }
                    });

                    var charCount = document.getElementById('charCount');

                    textarea.addEventListener('input', function (e) {
                      var chars = e.target.value.length;
                      if (chars > 5000) {
                        e.target.value = e.target.value.slice(0, 20000);
                      }
                      charCount.textContent = "Character count: " + chars;
                    });
                  </script>
                </div>
                <div class="input-group mb-5">
                  <button type="submit" class="btn btn-primary btn-block" title="Create Note">Create Note</button>
                  <!-- CSRF token -->
                  <input type='hidden' name='csrf-token' value="{{ csrf_token }}" />
                </div>
              </form>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block page_sidebar_content %}
<div class="p-3">
  <h5>Title</h5>
  <p>Sidebar content</p>
</div>
{% endblock %}
{% block page_scripts %}
<!-- page scripts-->
{% endblock %}