                <!-- Begin Search Form -->
                <form hx-get="/notes/pagination" hx-trigger="submit" hx-target="#notes-data"
                  hx-indicator=".htmx-indicator">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="search_term">Search Term</label>
                      <input id="search_term" class="form-control" type="search" name="search_term"
                        placeholder="Begin Typing To Search Notes...">
                    </div>
                    <!-- Mood input -->
                    <div class="col-md-4">
                      <label for="mood">Mood</label>
                      <select id="mood" class="form-control" name="mood">
                        <option value="">Select Mood</option>
                        <option value="positive">Positive</option>
                        <option value="neutral">Neutral</option>
                        <option value="negative">Negative</option>
                      </select>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                  </div>
                  <!-- Date range inputs -->
                  <div class="row mt-3">
                    <div class="col-md-3">
                      <label for="start_date">From Date</label>
                      <input id="start_date" class="form-control" type="date" name="start_date" placeholder="From Date">
                    </div>
                    <div class="col-md-3">
                      <label for="end_date">To Date</label>
                      <input id="end_date" class="form-control" type="date" name="end_date" placeholder="To Date">
                    </div>
                  </div>
                </form>
                <!-- End Search Form -->