{% extends "base.html" %}
{% block page_title %}| Edit Post{% endblock %}
{% block page_stylesheet %}
<!-- page stylesheets-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/ui/trumbowyg.min.css" integrity="sha512-Fm8kRNVGCBZn0sPmwJbVXlqfJmPC13zRsMElZenX6v721g/H7OukJd8XzDEBRQ2FSATK8xNF9UYvzsCtUpfeJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block page_breadcrumb %} Posts / Edit{% endblock %}
{% block page_head_title %}Edit Post{% endblock %}
{% block body %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <div class="card card-primary" style="margin: 20px;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Edit Post</h3>
                        <div class="d-flex align-items-center ml-auto">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="editSwitch">
                                <label class="custom-control-label" for="editSwitch">Edit</label>
                            </div>
                            <a href="/posts/view/{{ post.pkid }}" class="btn btn-success ml-2"><i
                                    class="fa-solid fa-file" style="color:black;"></i></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-12">
                            <form action="/posts/edit/{{ post.pkid }}" method="POST" enctype="multipart/form-data"
                                hx-indicator=".htmx-indicator">
                                <div class="row">
                                    <!-- Begin Optional Fields to Edit -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="titleInput">Title</label>
                                            <input type="text" class="form-control" id="title" name="title"
                                                placeholder="Enter title" value="{{ post.title }}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="summaryInput">Summary</label>
                                            <input type="text" class="form-control" id="summary" name="summary"
                                                placeholder="Enter summary" value="{{ post.summary }}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="tags">Tags</label>
                                            <input type="text" class="form-control" id="tags" name="tags"
                                                placeholder="Enter tags"
                                                value="{% for tag in post.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="categoryInput">Category</label>
                                            <input type="text" class="form-control" id="category" name="category"
                                                placeholder="Enter category" value="{{ post.category }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Optional Fields to Edit -->
                                <div class="input-group mb-5">
                                    <textarea id="content" name="content" maxlength="20000">{{post.content|safe}}</textarea>
                                    <small id="notesHelp" class="form-text text-muted">Post: This textarea is limited to 20,000 characters.</small>
                                    <small id="charCount" class="form-text text-muted">Character count: 0</small>
                                </div>
                                <div class="input-group mb-5">
                                    <button type="submit" class="btn btn-primary btn-block" title="Update Post">Update Post</button>
                                    <input type="hidden" name="pkid" value="{{ post.pkid }}">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block page_sidebar_content %}
<div class="p-3">
    <h5>Title</h5>
    <p>Sidebar content</p>
</div>
{% endblock %}
{% block page_scripts %}
<!-- page scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/trumbowyg.min.js" integrity="sha512-YJgZG+6o3xSc0k5wv774GS+W1gx0vuSI/kr0E0UylL/Qg/noNspPtYwHPN9q6n59CTR/uhgXfjDXLTRI+uIryg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/preformatted/trumbowyg.preformatted.min.js" integrity="sha512-jbGHfPlSvCf9wKx1/E61iNL+MbzEYB4PKwjlEWfZzHzfThYGqPtNdGNOu0NlxLoQdGt6Vq7PVQXJVtrtNXUy8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/noembed/trumbowyg.noembed.min.js" integrity="sha512-nddqNljM+0Sf1ZYdewcP6/xxBH3XXz4m+N4Y57nVgHHePlVWNpXeTMSanARtcFTxHDmajU/huyT0IoPWbc7DOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/fontfamily/trumbowyg.fontfamily.min.js" integrity="sha512-oATdSCPRZu3qFFyxrZ66ma2QbQybLqpRqwLRp2IQEaIABnEHcs2qDf6UOVA/V5LhBvxFxKCNvyVb/yQfwDkFhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/fontsize/trumbowyg.fontsize.min.js" integrity="sha512-eFYo+lmyjqGLpIB5b2puc/HeJieqGVD+b8rviIck2DLUVuBP1ltRVjo9ccmOkZ3GfJxWqEehmoKnyqgQwxCR+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function() {
    // Initialize Trumbowyg
    $('#content').trumbowyg({
      btns: [
        ['fontfamily', 'fontsize'],
        ['strong', 'em'],
        ['justifyLeft', 'justifyCenter'],
        ['insertImage', 'link'],
        ['noembed'],
        ['preformatted'],
        ['viewHTML'],
        ['removeformat'],
        ['fullscreen']
      ],
      plugins: {
        fontsize: {
          allowCustomSize: false
        },
        fontfamily: {
          fontList: [
            {name: 'Arial', family: 'Arial, Helvetica, sans-serif'},
            {name: 'Open Sans', family: '\'Open Sans\', sans-serif'}
          ]
        }
      }
    });

    // Set initial character count
    var $textarea = $('#content');
    var $charCount = $('#charCount');
    $charCount.text("Character count: " + $textarea.val().length);

    // Character count logic
    $textarea.on('input', function () {
      var chars = $textarea.val().length;
      if (chars > 20000) {
        $textarea.val($textarea.val().slice(0, 20000));
        chars = 20000;
      }
      $charCount.text("Character count: " + chars);
    });

    // Form validation
    $('form').on('submit', function (e) {
      if ($('#content').trumbowyg('html').trim() === '') {
        e.preventDefault();
        alert('Please enter content.');
      }
    });

    // Edit switch logic
    $('#editSwitch').on('change', function () {
      var isEditable = this.checked;
      $('input, select').each(function() {
        if (this.type !== 'checkbox') {
          if (this.tagName === 'SELECT' || this.type === 'radio') {
            this.disabled = !isEditable;
          } else {
            this.readOnly = !isEditable;
          }
        }
      });
      if (isEditable) {
        $('#content').trumbowyg('enable');
      } else {
        $('#content').trumbowyg('disable');
      }
    });

    // Set initial state of Trumbowyg based on editSwitch
    if (!$('#editSwitch').is(':checked')) {
      $('#content').trumbowyg('disable');
    }
  });
</script>
{% endblock %}