.github/
.git
.vscode
__archive
.devcontainer
.sonarlint
.ruff_cache
htmlcov
log/*.log
logs/
scripts/
sqlite_db/*.db
tests/
.env.*
.env_sample
.env
.pre-commit-config.yaml
coverage.xml
coverage.svg
LICENSE
makefile
README.md
sonar-project.properties
