.github/
.git
.vscode
__archive
.pytest_cache
.ruff_cache
.devcontainer
.sonarlint
htmlcov
log/*.log
logs/
scripts/
sqlite_db/*.db
tests/
/env-files
.env.*
.env_sample
.env
.coverage
.pre-commit-config.yaml
coverage.xml
coverage.svg
LICENSE
makefile
README.md
sonar-project.properties
pyproject.toml