.github/
.git
__archive
.devcontainer
csv/

htmlcov
log/
logs/
scripts/
sqlite_db/*.db
tests/
.env.*
.env_sample
.env
.pre-commit-config.yaml
coverage.xml
coverage.svg
LICENSE
makefile
README.md
sonar-project.properties
