<!-- Begin Pagination Template -->
{% include 'weblinks/page-controls.html' %}
<!-- Begin Cards -->
<div class="row">
  <div class="col-12">
    <h3 class="text-center">Use the search to filter on terms, dates, and/or mood.</h3>
  </div>
  {% for data in weblinks %}

  <div class="col-md-4 mb-2 p-1">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><a href="{{ data.url }}" target="_blank"><strong>{{ data.title|title }}</strong></a></strong></p>
        URL: <a href="{{ data.url }}" target="_blank">Link</a>
        <p>{{ data.summary|truncate(50, end='...') }}</p>
        <p class="card-text">
          <small>{{ data.date_created }}</small><br>
          <small><strong>Words:</strong> {{ data.word_count }} | <strong>Characters:</strong> {{ data.character_count }}</small>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% include 'weblinks/page-controls.html' %}
<!-- End Pagination Template -->