<li class="nav-item has-treeview {% if page == 'pdf_tools' %}menu-open{% else %}menu-closed{% endif %}">
    <a href="#" class="nav-link" title="PDF Tools">
        <i class="nav-icon fa-solid fa-file-pdf"></i>
        <p>PDF Tools</p>
        <i class="right fas fa-angle-left"></i>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/pdf-tools/ocr" class="nav-link" title="OCR Dashboard">
                <i class="fa-solid fa-eye">&nbsp;</i>
                <p>OCR Dashboard</p>
            </a>
        </li>
    </ul>
</li>
