<p>Users with Notes Needing AI Fix</p>

<table id="aiFixNeeded" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Note Fix Count</th>
      <th>Weblinks Fix Count</th>
      <th>Last Date</th>
    </tr>
  </thead>
  <tbody>
    {% for data in user_note_count %}
    <tr>
      <td>
        {{data.user_name}}</a>
      </td>
      <td>
        <a href="/admin/note-ai-check/{{data.user_id}}">{{data.count}}</a>
      </td>
      <td>
        <a href="/admin/weblink-fix/{{data.user_id}}">{{data.weblinks_ai_fix_count}}</a>
      </td>
      <td>{{data.last_note_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>User Name</th>
      <th>Note Fix Count</th>
      <th>Weblinks Fix Count</th>
      <th>Last Date</th>
    </tr>
  </tfoot>
</table>

<script>
  $(function () {
    $('#aiFixNeeded').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      dom: 'Bfrtip',
      buttons: ['copy', 'csv', 'pdf']
    });
  });
</script>
