<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link" title="Tools">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Dev Tooling
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/pypi/check" class="nav-link" title="PyPi Check">
                <i class="far fa-circle nav-icon"></i>
                <p>PyPi Check</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/pypi/index" class="nav-link" title="PyPi Dashboard">
                <i class="far fa-circle nav-icon"></i>
                <p>PyPi Dashboard</p>
            </a>
        </li>
    </ul>
</li>