<div class="modal fade" id="modal-{{ lr.request_group_id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Results of Update {{ lr.request_group_id }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <form action="/pypi/check/{{ lr.request_group_id }}">
            <button type="submit" class="btn btn-info">See Results</button>
          </form>
        </div>
        <div class="scrollable-section">
          {% for item in last_one_hundred_requests %}
            {% for d in item.json_data_out|sort(attribute='package_name') %}
              {{d.package_name}}{% if d.has_bracket %}[{{d.bracket_content}}]{%endif%}=={{d.latest_version}} #
              {% if d.latest_version!=d.current_version %} <strong>From {{d.current_version}}</strong> | {%endif%}
              {% if d.vulnerabilities|length > 0 %}
                Vulnerabilities:
                {% for v in d.vulnerabilities %}
                  <a href="{{v.link}}">{{v.link}}</a>
                {% endfor %}
              {% else %}
                Vulnerabilities: None
              {% endif %}
              <br>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
