{% if request.session.username %}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
        <li class="nav-item has-treeview  menu-open ">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Things
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/stuff" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Stuff</p>
                    </a>
                </li>
            </ul>
        <li class="nav-item">
            <form action="/user/logout" method="POST">
                <p> &nbsp;</p>
                <button class="btn btn-block btn-outline-warning" type="submit"><i
                        class="fas fa-sign-out-alt nav-icon"></i>
                    Logout</button>
            </form>
        </li>
    </ul>
</nav>
{% endif %}