{% if request.session.is_admin is true %}
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
        <li class="nav-item has-treeview  menu-closed ">
            <a href="#" class="nav-link">
                <i class="nav-icon fa-solid fa-lock-open"></i>
                <p>
                    Admin
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/function" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Function 1</p>
                    </a>
                </li>
            </ul>
    </ul>
</nav>
{% endif %}