{% extends "base.html" %}
{% block page_title %}| Main{% endblock %}
{% block page_stylesheet %}{% endblock %}
{% block page_breadcrumb %} Main{% endblock %}
{% block page_head_title %}Main Page{% endblock %}
{% block body %}
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- Widget: user widget style 1 -->
      <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
          <h3 class="widget-user-desc">A few things I've built to go play with</h5>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-fan"> </i> Things I am a fan of...
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row d-flex align-items-stretch">
          {% for d in data.cool_stuff %}
          <div class="col-12 col-sm-6 col-md-4 align-items-stretch">
            <div class="card bg-light">
              <div class="card-header text-muted border-bottom-0">
                Project: {{d.name|upper}}
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <ul>
                      <li>Site: <a href="{{d.html_url}}">Link</a></li>
                      <li>Description:{{d.description}} </li>
                      <li>Tags: {% for t in d.tags %} {{t}}, {% endfor %}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          {% endfor %}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </div>
  <div class="row">
    <div class="card col-12">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-code-branch"> </i> My Tools and Libraries
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row d-flex align-items-stretch">
          {% for d in data.my_stuff %}
          <div class="col-12 col-sm-6 col-md-4 align-items-stretch">
            <div class="card bg-light">
              <div class="card-header text-muted border-bottom-0">
                Project: {{d.name|upper}}
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <ul>
                      <li>Site: <a href="{{d.html_url}}">Link</a></li>
                      <li>Description:{{d.description}} </li>
                      <li>Tags: {% for t in d.tags %} {{t}}, {% endfor %}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          {% endfor %}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </div>
</section>
<!-- /.content-wrapper -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block page_sidebar_content %}
<div class="p-3">
  <h5>Title</h5>
  <p>Sidebar content</p>
</div>
{% endblock %}
{% block page_scripts %}
<!-- page scripts-->
{% endblock %}